html{
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}


header{
    width: 100%;
    min-height: 550px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header > img{
    
}

main section:nth-child(2n+0){
    background-color: #F6F6F6;
    position: relative;
}

.wave{
    width: 100%;
    height: 70px;
    color: #F6F6F6;
}

.wave-top{   
    position: absolute;
    left: 0;
    bottom: 100%;   
}

.wave-bottom{
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 100%;
}

.container{
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.container .row{
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
}

.row .col-up-left, .row .col-up-right{
    width: 20%
}

.container .row .col-up-center{
    width: 60%;
}

.col.col-up-right{
    padding-top: 5px;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
}

.row .col-down{
    width: 100%;
}

.col-up-left > img{
    padding-top: 5px;
}

.col-up-right > a{
    background-color: white;
    padding: 5px 25px;
    border-radius: 20px;
    font-weight: 500;
    float: right;
}

.col-up-list li{
    display: inline-block;
    padding: 10px 15px;
    color: white;
}

.col-up-list{
    text-align: center;
}

.module.title > h1{
    font-size: calc(30px + 1.5vw);
}

.col-down .direct-link a{
    padding: 10px 25px;
    border-radius: 20px;
    margin-left: 15px;
    display: inline-block;
    font-weight: 600;
}

.col-down .direct-link :first-child{
    background-color: white;
    margin-bottom: 15px;
}

.col-down .direct-link :nth-child(2n){
    background-color: #23272A;
    color: white;
}

.col-down-wrapper .module :only-child{
    color: white;
    margin-bottom: 35px;
}

.module.title{
    font-size: 22px;
}

.module.description{
    font-size: 17px;
}

.col-down-wrapper{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

.img-wrapper{
    width: 90%;
    padding-top: 20px;
}

.first-section-col-left, .second-section-col-right, .third-section-col-left{
    width: calc((2 / 3) * 100%);
}

.first-section-col-right, .second-section-col-left, .third-section-col-right{
    width: calc((1 / 3) * 100%);
}

.container .jumbo-row-down .col{
    padding: 5% 0;
}

.col-up-list li:hover a{
    color: red;
}

.first-section-col-right, .second-section-col-left, .third-section-col-right{
    padding: 10% 0;
}

.fourth-section-col-up, .fourth-section-col-center, .fourth-section-col-down{
    width: 100%;
}

.fourth-section-col-up-wrapper{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.fourth-section-col-down-wrapper{
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.fourth-section-col-down-wrapper .bottom-link > a{
    padding: 10px 25px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #8EA1E1;
    color: white;
    display: inline-block;
    font-weight: 600;
}

section h3{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
}

p{
    font-size: 15px;
    font-weight: 500;
}

.module.bottom-title{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 25px;    
}

section img{
    padding: 10% 0;
}

section .fourth-section-col-center img{
    padding: 0 0;
}


.col-footer-left{
    width: calc((2 / 6) * 100%);
}

.col-footer-right{
    width: calc((1 / 6) * 100%);
}

footer{
    width: 100%;
    min-height: 550px;
    background-color: #23272A;
}

footer .footer-title{
    color: #7289DA;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-right: 15px;
}

footer ul{
    line-height: 40px;
    color: white;
    padding-right: 10px;
}

footer .list-title{
    color: #7289DA;
    font-weight: 700;
}

.icons-list li{
    display: inline-block;
    padding-left: 15px;
}

.icons-list{
    margin-top: 15px;
}

footer .footer-row{
    border-bottom: 1px solid #7289DA;
}

.row.footer-row-bottom{
    width: 100%;
}

.footer-bottom-col-left{
    float: left;
}

.footer-bottom-col-right{
    float: right; 
}

.footer-bottom-col-right > a{
    background-color: #7289DA;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    display: inline-block;
}


/* so che è sbagliato ma non sapevo come farlo */
select{
    padding: 2px 35px;
    background: none;
    border: none;
    color: white;
    background-image: url(img/ita.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}


