html{
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}


header{
    width: 100%;
    min-height: 550px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header > img{
    
}

main section:nth-child(2n+0){
    background-color: #F6F6F6;
}

.container{
    max-width: 960px;
    width: 90%;
    /* height: 100%; */
    margin: 0 auto;
    padding: 20px 0;
}

.container .row{
    width: 100%;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
}

.row .col-down{
    width: 100%;
}

.col-up-left > img{
    padding-top: 5px;
}

.col-up-right > a{
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
    float: right;
}

.col-up-list li{
    display: inline-block;
    padding: 10px 15px;
    color: white;
}

.col-up-list{
    text-align: center;
}

.col-down .direct-link a{
    padding: 10px 25px;
    border-radius: 20px;
    margin-left: 15px;
    display: inline-block;
    font-weight: 600;
}

.col-down .direct-link :first-child{
    background-color: white;
    margin-bottom: 15px;
}

.col-down .direct-link :nth-child(2n){
    background-color: #23272A;
    color: white;
}

.col-down-wrapper .module :only-child{
    color: white;
    margin-bottom: 25px;
}

.module.title{
    font-size: 22px;
}

.module.description{
    font-size: 17px;
}

.col-down-wrapper{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

/* .row.jumbo-row-up{
    height: 25%;
}

.row.jumbo-row-down{
    height: 75%;
} */

.container .jumbo-row-down .col{
    padding: 5% 0;
}

.col-up-list li:hover a{
    color: red;
}

.first-section-col-right, .second-section-col-left, .third-section-col-right{
    padding: 10% 0;
}

/* main .container .row .col {
    min-height: 450px;
} */
.fourth-section-col-up, .fourth-section-col-center, .fourth-section-col-down{
    width: 100%;
}

.fourth-section-col-up-wrapper{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.fourth-section-col-down-wrapper{
    width: 350px;
    text-align: center;
    margin: 0 auto;
}

.fourth-section-col-down-wrapper .bottom-link > a{
    padding: 10px 25px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #8EA1E1;
    color: white;
    display: inline-block;
    font-weight: 600;
}

h3{
    margin-bottom: 25px;
}

.module.bottom-title{
    background-image: url(img/stars.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 25px;    
}

footer{
    width: 100%;
    min-height: 550px;
    background-color: #23272A;
}

footer ul{
    line-height: 40px;
}

footer .list-title{
    color: mediumpurple;
    font-weight: 700;
}
                  /* DEBUG */


.debug .container .row{
    padding: 15px;
    margin-bottom: 15px;
}

.debug .row .col-up-left, .debug .row .col-up-right{
    width: 20%
}

.debug .container .row .col-up-center{
    width: 60%;
}

.debug .first-section-col-left{
    width: calc((2 / 3) * 100%);
}

.debug .first-section-col-right{
    width: calc((1 / 3) * 100%);
}

.debug .second-section-col-left{
    width: calc((1 / 3) * 100%);
}

.debug .second-section-col-right{
    width: calc((2 / 3) * 100%);
}

.debug .third-section-col-left{
    width: calc((2 / 3) * 100%);
}

.debug .third-section-col-right{
    width: calc((1 / 3) * 100%);
}

.debug .col-footer-left{
    width: calc((2 / 6) * 100%);
}

.debug .col-footer-right{
    width: calc((1 / 6) * 100%);
}

select{
    padding: 2px 35px;
    background: none;
    border: none;
    color: white;
    background-image: url(img/ita.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
